Flask==3.1.0gunicorn==23.0.0pandas==2.2.3firebase-admin==6.7.0numpy==2.2.4python-dateutil==2.9.0.post0tzdata==2025.2nltk==3.9.1scikit-learn==1.6.1requests==2.32.3google-cloud-firestore==2.20.1google-auth==2.39.0google-api-core==2.24.2PyJWT==2.10.1tqdm==4.67.1regex==2024.11.6sklearn 